<div class="container" style="margin-bottom: 45px;">
  <div class="row" id="content-wrapper">
    <div class="col-md-12">
      <% @contacts.each do |contact| %>
      <%= link_to edit_contact_path(contact) do %>
        <div class="info-card" data-name="<%= contact.first_name + ' ' + contact.last_name%>" data-job="<%=contact.job%>" data-location="<%= contact.city + ', ' + contact.country%>">
          <div class="personal-detail-section">
            <img src="http://lorempixel.com/200/200/people/<%= Random.rand(10) %>" alt="<%=contact.first_name + ' ' + contact.last_name%> picture">
            <div class="text-detail">
              <h2><%= contact.first_name + ' ' + contact.last_name %></h2>
              <h5><%= contact.job %></h5>
              <p><%= contact.city + ', ' + contact.country %></p>
            </div>
          </div>
          <div class="contact-detail-section">
            <ul>
              <li> <i class="fa fa-envelope-o" ></i><p><%=contact.email%></p></li>
              <li><i class="fa fa-phone"></i><p><%=contact.phone%></p></li>
              <li><i class="fa fa-twitter" ></i><p><%=contact.twitter_acc%></p></li>
            </ul>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
